NODE_ENV=development
PORT= 4000
MONGO_URI=mongodb://localhost:27018/vector-db


# Chroma DB
CHROMA_API_KEY=
CHROMA_TENANT=
CHROMA_DATABASE=

# Use this API to log in to the Chroma C
CHROMA_CLI_LOGIN=

# OpenAI API Key
OPENAI_API_KEY=

